
<div>
  <div class="f_basic_01">
    <img src="/images/firm/ico9.gif" style="padding-left: 8px;padding-top: 8px">
    <span class="f_basic_title">修改公司信息</span>&nbsp;&nbsp;<span style="color: red;font-size: 16px">*</span>&nbsp;<span class="f_basic_title">为必填</span>
  </div>
  <div >
    <table rules=rows border="1" bordercolor="#E6E6E6" >
      <tr style="background: #FCFCFC;">
        <td class="f_basic_02"><span style="color: red">*</span>&nbsp;&nbsp;旧密码</td>
        <td class="f_basic_03"><%= text_field_tag 'firm_name','' %></td>
      </tr>
      <tr style="background: #F8F8F8;">
        <td class="f_basic_02"><span style="color: red">*</span>&nbsp;&nbsp;新密码</td>
        <td class="f_basic_03"><%= text_field_tag 'firm_name',''%></td>
      </tr>
      <tr style="background: #FCFCFC;">
        <td class="f_basic_02"><span style="color: red">*</span>&nbsp;&nbsp;确认新密码</td>
        <td class="f_basic_03"><%= text_field_tag 'firm_name',''%></td>
      </tr>

      <tr style="background: #F8F8F8;">
        <td class="f_basic_02"></td>
        <td class="f_basic_03">
          <%= button_to_function '确认','' %>
        </td></tr>
    </table>
  </div>
</div>
</div>

<script>

</script>