<div id="dialog" title="div层对话框">
  24
  <p>This is the default dialog which is useful for displaying information. The dialog window can be moved, resized and closed with the 'x' icon.</p>
  25
  <p>柯乐义：这是一个弹出div层对话框，可用于显示信息。可以拖动和关闭这个弹出层，还可以改变它的大小。 </p>
  26
</div>
<script type="text/javascript">
    function keleyidialog() {
        $("#dialog").dialog();
    }
</script>
